<!DOCTYPE html>
<html>

<head>
  <title>Bar CVVR</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
  <script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>

  <!-- Assuming compiled CSS and JS are served from /assets -->
  <link rel="stylesheet" href="/assets/application.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.3/rails.min.js"></script>
  <script src="/assets/application.js"></script>
</head>

<body style="width: calc(100% - 66px);">
  {{template "content" .}}
</body>

</html>